body {
    background-image: url"(../images/texture.jpg)"
}
header {
    background-color: #710;
    height:60px;

}

header div { 
    height:60px;
    background-color: gold;
    margin: 0 auto;
    width: 960px;


}

header h1 {
    float:left;
    height:60px;
    margin: 0;
    background-color: grey;
    padding: 2px 12px;
    box-sizing: border-box;
}

nav {
    float:right;
    padding-top: 15px;
}

nav a {
    padding left: 10px;
    padding-right: 20px;

}

section {
    background-color: green;
    width: 960px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

section h2 {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #710;
    margin-bottom: 15px;

}
img {
    height:180px;
    width:200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

footer{
    background-color:lightsteelblue;
    text-align: center;
    height: 60px;
    padding-top: 15px;
    border-top: 4px solid #710;
    
}