body {
    background-image: url("../assets/images/backgrund.jpg")
}
* {
  box-sizing: border-box;
}

header {
    background-color: maroon;
    height:60px;

}

header div { 
    height:60px;
    background-color: gold;
    margin: 0 auto;
    width: 960px;


}

header h1 {
    float:left;
    height:60px;
    margin: 0;
    background-color: grey;
    padding: 2px 12px;
    box-sizing: border-box;
}

nav {
    float:right;
    padding-top: 15px;
}

nav a {
    padding left: 10px;
    padding-right: 20px;

}

section {
    background-color: green;
    width: 960px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

section h2 {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid maroon;
    margin-bottom: 15px;

}
img {
    height:180px;
    width:200px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

footer{
    background-color:lightsteelblue;
    text-align: center;
    height: 60px;
    padding-top: 15px;
    border-top: 4px solid maroon;
    
}
#main-container {
  padding-top: 20px;
  min-height: calc(100vh - 70px);
}



/* portfolio page */
.port {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  

  .port img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
 .porttitle {
   height: 10px;
   margin-bottom: 30px;
 }
  
 /* contact page */

 .mform {
   margin-top: 10px;
   margin-bottom: 10px;
 }

