/* shared */

* {
  box-sizing: border-box;
}

body {
  font-family: Sans-serif;
  background: url("../images/background.jpg");
}

header {
  background-color: grey;
}

nav {
  float: right;
}

.middle-section {
  float: left;
}
.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

#my-name {
  font-size: 35px;
  font-family: Sans-serif;
  font-weight: 550;
  background-color: lightskyblue;
  color: white;
}

footer {
  background-color:grey;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 98.8%;
}

/* front index */
.my-image {
  width: 200px;
  float: left;
  margin-right: 10px;
}